.main-productos .sector-uno div .boton, .main-productos .sector-dos div .boton {
  background-color: #e0d1d5;
  font-weight: 600;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 15%;
  margin: 0rem 0.5rem 2.5rem 0.5rem;
  justify-self: center;
  align-self: center; }

.main-productos .sector-uno div p, .main-productos .sector-dos div p {
  margin: 1rem 3rem 1rem 3rem;
  justify-self: center;
  align-self: center;
  font-weight: 600;
  font-size: 1.5rem; }

.main-productos .sector-uno div .boton, .main-productos .sector-dos div .boton {
  background-color: #e0d1d5;
  font-weight: 600;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 15%;
  margin: 0rem 0.5rem 2.5rem 0.5rem;
  justify-self: center;
  align-self: center; }

.main-productos .sector-uno div p, .main-productos .sector-dos div p {
  margin: 1rem 3rem 1rem 3rem;
  justify-self: center;
  align-self: center;
  font-weight: 600;
  font-size: 1.5rem; }

.main-cuidados {
  margin: 3rem 0.5rem 1rem 0.5rem;
  height: 110vh;
  padding: 1rem 1rem 0rem 1rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
  .main-cuidados .uno {
    padding: 0rem 1.2rem 0rem 1.2rem;
    height: 50vh; }
    .main-cuidados .uno .curado {
      text-align: center;
      margin: 1.5rem 0rem 1.5rem 0rem;
      font-size: 1.7rem;
      font-weight: 600; }
    .main-cuidados .uno p {
      text-align: center;
      font-weight: 300;
      font-size: 1.2rem;
      margin: 0rem 0.2rem 1rem 0.2rem;
      padding: 0.5rem 0rem 0.5rem 0rem; }
    .main-cuidados .uno .lista-curado {
      list-style: none; }
      .main-cuidados .uno .lista-curado li {
        text-align: justify;
        padding: 0.5rem 0rem 0.3rem 0.5rem;
        font-size: 1.1rem; }
  .main-cuidados .dos {
    padding: 0rem 1.5rem 0rem 1.2rem;
    height: 50vh; }
    .main-cuidados .dos .cuidados {
      text-align: center;
      margin: 1.5rem 0rem 1.5rem 0rem;
      font-size: 1.7rem;
      font-weight: 600;
      padding: 0.5rem 0rem 2rem 0rem; }
    .main-cuidados .dos .lista-cuidados .li-cuidados {
      text-align: justify;
      padding: 0rem 0rem 0.5rem 1rem;
      font-size: 1.1rem; }

.main-productos .sector-uno div .boton, .main-productos .sector-dos div .boton {
  background-color: #e0d1d5;
  font-weight: 600;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 15%;
  margin: 0rem 0.5rem 2.5rem 0.5rem;
  justify-self: center;
  align-self: center; }

.main-productos .sector-uno div p, .main-productos .sector-dos div p {
  margin: 1rem 3rem 1rem 3rem;
  justify-self: center;
  align-self: center;
  font-weight: 600;
  font-size: 1.5rem; }

.main-informacion {
  margin: 2rem 0rem 5rem 3rem;
  height: 105vh; }
  .main-informacion .todo .formulario form fieldset {
    display: grid;
    gap: 1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: center;
    padding: 0rem 0rem 1.5rem 0rem; }
    .main-informacion .todo .formulario form fieldset legend {
      text-align: center;
      margin: 2rem 1rem 1rem 0rem;
      font-weight: 500;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      font-size: 1.8rem; }
    .main-informacion .todo .formulario form fieldset label {
      display: block;
      font-size: 1.1rem; }
  .main-informacion .pago-datos h2 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: justify;
    text-align: center;
    margin: 2rem 0rem 1rem 1rem; }
  .main-informacion ul li {
    text-align: justify;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 1.1rem;
    text-align: center;
    list-style: none; }

.main-productos .sector-uno div .boton, .main-productos .sector-dos div .boton {
  background-color: #e0d1d5;
  font-weight: 600;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 15%;
  margin: 0rem 0.5rem 2.5rem 0.5rem;
  justify-self: center;
  align-self: center; }

.main-productos .sector-uno div p, .main-productos .sector-dos div p {
  margin: 1rem 3rem 1rem 3rem;
  justify-self: center;
  align-self: center;
  font-weight: 600;
  font-size: 1.5rem; }

@media screen and (min-width: 600px) {
  main {
    height: 100vh; }
    main .container {
      display: grid; }
      main .container .texto-dos {
        display: block; }
    main .container-dos {
      display: grid; }
  .main-productos {
    height: 420vh; }
    .main-productos .sector-uno {
      display: grid;
      align-items: start;
      height: 200vh; }
      .main-productos .sector-uno .mate {
        display: grid; }
    .main-productos .sector-dos {
      display: grid;
      align-items: start;
      height: 200vh;
      gap: 3rem; }
      .main-productos .sector-dos .sets {
        display: grid; }
  .main-cuidados {
    margin: 3rem 0.5rem 3rem 0.5rem;
    height: 110vh;
    padding: 1rem 1rem 0rem 1rem;
    gap: 3rem; }
    .main-cuidados .uno {
      padding: 0rem 1.5rem 0rem 1.5rem;
      height: 50vh; }
      .main-cuidados .uno .curado {
        margin: 2.5rem 0rem 2.5rem 0rem; }
      .main-cuidados .uno p {
        font-size: 1.3rem;
        margin: 0rem 0.2rem 2rem 0.2rem; }
      .main-cuidados .uno .lista-curado {
        font-weight: 200; }
        .main-cuidados .uno .lista-curado li {
          padding: 0rem 0rem 0.5rem 1rem;
          font-size: 1.2rem; }
    .main-cuidados .dos {
      padding: 0rem 1.5rem 0rem 1.5rem;
      height: 50vh; }
      .main-cuidados .dos .cuidados {
        margin: 2.5rem 0rem 2.5rem 0rem; }
      .main-cuidados .dos .lista-cuidados .li-cuidados {
        text-align: justify;
        padding: 0rem 0rem 1rem 0.5rem;
        font-size: 1.2rem; }
  .main-quienes-somos {
    height: 150vh; }
    .main-quienes-somos .quien-soy {
      height: 70vh;
      display: grid; }
      .main-quienes-somos .quien-soy .alpargata {
        display: block; }
        .main-quienes-somos .quien-soy .alpargata img {
          justify-items: center;
          align-items: center;
          object-fit: cover;
          border-radius: 10px; }
      .main-quienes-somos .quien-soy .texto-unoo {
        font-size: 1.3rem; }
    .main-quienes-somos .como-se-creo {
      height: 70vh;
      display: grid; }
      .main-quienes-somos .como-se-creo .rosa {
        display: block; }
        .main-quienes-somos .como-se-creo .rosa img {
          justify-items: center;
          align-items: center;
          object-fit: cover;
          border-radius: 10px; }
      .main-quienes-somos .como-se-creo .texto-doss {
        font-size: 1.3rem; }
  .main-informacion {
    height: 70vh; }
    .main-informacion .todo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 70vh; } }

@media screen and (min-width: 1024px) {
  main {
    height: 80vh; }
    main .container {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      main .container .texto-dos {
        display: block;
        flex-direction: column; }
    main .container-dos {
      display: grid; }
      main .container-dos .mates img {
        height: 50vh; }
  .main-productos {
    height: 150vh; }
    .main-productos .sector-uno {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
      height: 50vh; }
      .main-productos .sector-uno .mate {
        display: grid; }
    .main-productos .sector-dos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
      height: 50vh;
      gap: 3rem; }
      .main-productos .sector-dos .sets {
        display: grid; }
    .main-productos .footer {
      height: 50vh; }
  .main-cuidados {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .main-cuidados .dos .lista-cuidados .li-cuidados {
      padding: 0rem 0rem 1rem 0.5rem; }
  .main-quienes-somos {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .main-informacion {
    height: 60vh;
    display: grid;
    justify-content: center; }
    .main-informacion .todo {
      display: flex; }
      .main-informacion .todo .formulario {
        align-items: start; }
        .main-informacion .todo .formulario form {
          display: flex;
          flex-direction: column; }
          .main-informacion .todo .formulario form fieldset {
            display: flex;
            flex-direction: column; }
    .main-informacion .pago-datos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      padding: 0rem 5rem 10rem 5rem;
      gap: 3rem; } }

body {
  display: block; }
  body header {
    background-color: #e0d1d5;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
    body header h1 {
      background-color: #b9a7a7;
      font-weight: 100;
      text-align: center;
      font-size: 2.2rem;
      padding-bottom: 1rem;
      padding-top: 1rem;
      margin-top: auto; }
    body header .menu {
      text-align: center;
      font-size: 1.5rem; }
      body header .menu .submenu .logo {
        width: 50%;
        height: 50%;
        margin: 3rem;
        text-align: center; }

main {
  margin-top: 2rem;
  height: 60vh; }
  main .container {
    font-size: 1.2rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: center;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    main .container .texto-dos {
      display: none; }
  main .container-dos {
    display: flex;
    justify-content: center;
    margin: 0rem 2rem 0rem 2rem; }
    main .container-dos img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      padding: 3rem 0rem 0rem 0rem; }

footer {
  background-color: #b9a7a7;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  text-align: center; }
  footer .medios-de-envio {
    margin: 0rem 0.5rem 0rem 1rem; }
    footer .medios-de-envio .envios {
      font-size: 1.1rem;
      font-weight: 200; }
    footer .medios-de-envio .primero {
      font-size: 0.9rem;
      text-align: left;
      margin: 0rem 0.5rem 0rem 0rem; }
  footer .derechos {
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 4rem 0rem 0rem 0rem; }
    footer .derechos p {
      font-size: 0.8rem;
      text-align: center;
      padding: 2rem 0rem 0rem 0rem; }
  footer .redes .nuestras-redes {
    font-size: 1.1rem;
    font-weight: 200; }
  footer .redes .logo {
    gap: 2rem; }

.main-productos .sector-uno div .boton, .main-productos .sector-dos div .boton {
  background-color: #e0d1d5;
  font-weight: 600;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 15%;
  margin: 0rem 0.5rem 2.5rem 0.5rem;
  justify-self: center;
  align-self: center; }

.main-productos .sector-uno div p, .main-productos .sector-dos div p {
  margin: 1rem 3rem 1rem 3rem;
  justify-self: center;
  align-self: center;
  font-weight: 600;
  font-size: 1.5rem; }

.main-productos {
  height: 380vh;
  display: grid; }
  .main-productos .titulo-uno {
    text-align: center; }
  .main-productos .sector-uno {
    height: 160vh;
    margin-bottom: 2rem; }
    .main-productos .sector-uno .mate {
      display: grid; }
      .main-productos .sector-uno .mate .imagen {
        display: grid;
        justify-items: center;
        align-items: center; }
        .main-productos .sector-uno .mate .imagen img {
          object-fit: cover;
          border-radius: 10px;
          transition: 0.4s; }
        .main-productos .sector-uno .mate .imagen img:hover {
          transition: 0.4s;
          transform: scale(1.1);
          box-shadow: 7px 7px 7px #e0d1d5; }
  .main-productos .titulo-dos {
    text-align: center; }
  .main-productos .sector-dos {
    height: 160vh; }
    .main-productos .sector-dos .sets {
      display: grid;
      justify-items: center;
      flex-direction: column; }
      .main-productos .sector-dos .sets .imagen {
        display: grid;
        justify-items: center;
        align-items: center; }
        .main-productos .sector-dos .sets .imagen img {
          object-fit: cover;
          border-radius: 10px;
          transition: 0.4s; }
        .main-productos .sector-dos .sets .imagen img:hover {
          transition: 0.4s;
          transform: scale(1.1);
          box-shadow: 7px 7px 7px #e0d1d5; }

.main-productos .sector-uno div .boton, .main-productos .sector-dos div .boton {
  background-color: #e0d1d5;
  font-weight: 600;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 15%;
  margin: 0rem 0.5rem 2.5rem 0.5rem;
  justify-self: center;
  align-self: center; }

.main-productos .sector-uno div p, .main-productos .sector-dos div p {
  margin: 1rem 3rem 1rem 3rem;
  justify-self: center;
  align-self: center;
  font-weight: 600;
  font-size: 1.5rem; }

.main-quienes-somos {
  height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
  .main-quienes-somos .quien-soy {
    height: 40vh;
    text-align: center;
    display: grid; }
    .main-quienes-somos .quien-soy .descripcion {
      font-size: 2rem;
      font-size: 200;
      text-align: center; }
    .main-quienes-somos .quien-soy .texto-unoo {
      font-size: 1.2rem;
      margin: 0rem 3rem 0rem 3rem; }
  .main-quienes-somos .alpargata {
    display: none; }
  .main-quienes-somos .como-se-creo {
    text-align: center;
    display: grid; }
    .main-quienes-somos .como-se-creo .creacion {
      font-size: 2rem;
      font-size: 200;
      text-align: center; }
    .main-quienes-somos .como-se-creo .texto-doss {
      font-size: 1.2rem;
      margin: 0rem 2rem 0rem 2rem; }
  .main-quienes-somos .rosa {
    display: none; }

@media screen and (min-width: 600px) {
  main {
    height: 100vh; }
    main .container {
      display: grid; }
      main .container .texto-dos {
        display: block; }
    main .container-dos {
      display: grid; }
  .main-productos {
    height: 420vh; }
    .main-productos .sector-uno {
      display: grid;
      align-items: start;
      height: 200vh; }
      .main-productos .sector-uno .mate {
        display: grid; }
    .main-productos .sector-dos {
      display: grid;
      align-items: start;
      height: 200vh;
      gap: 3rem; }
      .main-productos .sector-dos .sets {
        display: grid; }
  .main-cuidados {
    margin: 3rem 0.5rem 3rem 0.5rem;
    height: 110vh;
    padding: 1rem 1rem 0rem 1rem;
    gap: 3rem; }
    .main-cuidados .uno {
      padding: 0rem 1.5rem 0rem 1.5rem;
      height: 50vh; }
      .main-cuidados .uno .curado {
        margin: 2.5rem 0rem 2.5rem 0rem; }
      .main-cuidados .uno p {
        font-size: 1.3rem;
        margin: 0rem 0.2rem 2rem 0.2rem; }
      .main-cuidados .uno .lista-curado {
        font-weight: 200; }
        .main-cuidados .uno .lista-curado li {
          padding: 0rem 0rem 0.5rem 1rem;
          font-size: 1.2rem; }
    .main-cuidados .dos {
      padding: 0rem 1.5rem 0rem 1.5rem;
      height: 50vh; }
      .main-cuidados .dos .cuidados {
        margin: 2.5rem 0rem 2.5rem 0rem; }
      .main-cuidados .dos .lista-cuidados .li-cuidados {
        text-align: justify;
        padding: 0rem 0rem 1rem 0.5rem;
        font-size: 1.2rem; }
  .main-quienes-somos {
    height: 150vh; }
    .main-quienes-somos .quien-soy {
      height: 70vh;
      display: grid; }
      .main-quienes-somos .quien-soy .alpargata {
        display: block; }
        .main-quienes-somos .quien-soy .alpargata img {
          justify-items: center;
          align-items: center;
          object-fit: cover;
          border-radius: 10px; }
      .main-quienes-somos .quien-soy .texto-unoo {
        font-size: 1.3rem; }
    .main-quienes-somos .como-se-creo {
      height: 70vh;
      display: grid; }
      .main-quienes-somos .como-se-creo .rosa {
        display: block; }
        .main-quienes-somos .como-se-creo .rosa img {
          justify-items: center;
          align-items: center;
          object-fit: cover;
          border-radius: 10px; }
      .main-quienes-somos .como-se-creo .texto-doss {
        font-size: 1.3rem; }
  .main-informacion {
    height: 70vh; }
    .main-informacion .todo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 70vh; } }

@media screen and (min-width: 1024px) {
  main {
    height: 80vh; }
    main .container {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      main .container .texto-dos {
        display: block;
        flex-direction: column; }
    main .container-dos {
      display: grid; }
      main .container-dos .mates img {
        height: 50vh; }
  .main-productos {
    height: 150vh; }
    .main-productos .sector-uno {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
      height: 50vh; }
      .main-productos .sector-uno .mate {
        display: grid; }
    .main-productos .sector-dos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
      height: 50vh;
      gap: 3rem; }
      .main-productos .sector-dos .sets {
        display: grid; }
    .main-productos .footer {
      height: 50vh; }
  .main-cuidados {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .main-cuidados .dos .lista-cuidados .li-cuidados {
      padding: 0rem 0rem 1rem 0.5rem; }
  .main-quienes-somos {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .main-informacion {
    height: 60vh;
    display: grid;
    justify-content: center; }
    .main-informacion .todo {
      display: flex; }
      .main-informacion .todo .formulario {
        align-items: start; }
        .main-informacion .todo .formulario form {
          display: flex;
          flex-direction: column; }
          .main-informacion .todo .formulario form fieldset {
            display: flex;
            flex-direction: column; }
    .main-informacion .pago-datos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      padding: 0rem 5rem 10rem 5rem;
      gap: 3rem; } }
