@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";


.main-cuidados{
    margin: 3rem 0.5rem 1rem 0.5rem;
    height: 110vh;
    padding: 1rem 1rem 0rem 1rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    font-family: $font;

    .uno{
        padding: 0rem 1.2rem 0rem 1.2rem ;
        height: 50vh;

        .curado{
            text-align: center;
            margin: 1.5rem 0rem 1.5rem 0rem; 
            font-size: 1.7rem;
            font-weight: 600;
            
        }
         p{
            text-align: center;
            font-weight: 300;
            font-size: 1.2rem;
            margin: 0rem 0.2rem 1rem 0.2rem;
            padding: 0.5rem 0rem 0.5rem 0rem;
        }
        .lista-curado{
            list-style: none;
            
            
            li{
            text-align: justify;
            padding:0.5rem 0rem 0.3rem 0.5rem;
            font-size: 1.1rem;
            }
        }
    }

    .dos{
        padding: 0rem 1.5rem 0rem 1.2rem;
        height: 50vh;
  
        .cuidados{
            text-align: center;
            margin: 1.5rem 0rem 1.5rem 0rem; 
            font-size: 1.7rem;
            font-weight: 600;
            padding: 0.5rem 0rem 2rem 0rem;
        }

        .lista-cuidados{
            
            .li-cuidados{
            text-align: justify;
            padding: 0rem 0rem 0.5rem 1rem;
            font-size: 1.1rem;
            }
        }


    }


}

