@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";
@import "../utilidades/media-queries";

//estilos de inicio

body{
    display: block;

    header{
    background-color: $color-principal;
    font-family: $font;

        h1{
        background-color: $color-secundario;
        font-weight: 100;
        text-align: center;
        font-size: 2.2rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        margin-top: auto;
        }

        .menu{
            
            text-align: center;
            font-size: 1.5rem;
           

            .submenu{
                .logo{
                    width: 50%;
                    height: 50%;
                    margin: 3rem;
                    text-align: center;
                   
                }
            }
        }

    }
  
}

main{
    
    margin-top: 2rem;
    height: 60vh;
    
    .container{
        font-size: 1.2rem;
        font-family: $font;
        text-align: center;
        font-weight: 200;
        display: flex;
        flex-direction: column;
        gap: 2rem;
     
     
        .texto-dos{
            display: none;
        }
    }

    .container-dos{
         display: flex;
         justify-content: center;
        margin: 0rem 2rem 0rem 2rem;
         img{
            object-fit: cover;
            height: 100%;
            width: 100%;
            padding: 3rem 0rem 0rem 0rem;
        }
        
    }
}

footer{
    background-color: $color-secundario;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
    
    .medios-de-envio{
        margin: 0rem 0.5rem 0rem 1rem;

        .envios{
            font-size: 1.1rem;
            font-weight: 200;
  
        }

        .primero{
            font-size: 0.9rem;
            text-align: left;
            margin: 0rem 0.5rem 0rem 0rem;
        }

       
    }    
    
    .derechos{
        display: flex;
        justify-content: end;
        flex-direction: column;
        padding: 4rem 0rem 0rem 0rem;

        p{
        font-size: 0.8rem;
        text-align: center;
        padding: 2rem 0rem 0rem 0rem;
        }
    }  

    .redes{
        .nuestras-redes{ 
         font-size: 1.1rem; 
         font-weight: 200;
        }
        .logo{
         gap: 2rem;
        }

    }

      
}   



