


//mq de tablet

@media screen and (min-width: 600px){

    main{
        height: 100vh;

        .container{
            display: grid;
            .texto-dos{
                display: block;
            }
        }
        .container-dos{
            display: grid;
            
        }
    }



    .main-productos{
    height: 420vh;

        .sector-uno{
        display: grid;
        align-items: start;
        height: 200vh;
        

            .mate{
                display: grid;
            }

        }
        .sector-dos{
        display: grid;
        align-items: start;
        height: 200vh;
        gap: 3rem;

            .sets{
                display: grid;
            }
        }
    }


    .main-cuidados{
        margin: 3rem 0.5rem 3rem 0.5rem;
        height: 110vh;
        padding: 1rem 1rem 0rem 1rem;
        gap: 3rem;
       

        .uno{
            padding: 0rem 1.5rem 0rem 1.5rem;
            height: 50vh;

            .curado{
                margin: 2.5rem 0rem 2.5rem 0rem; 
            }

            p{
                font-size: 1.3rem;
                margin: 0rem 0.2rem 2rem 0.2rem;
            }

            .lista-curado{
                font-weight: 200;
                
                li{
                padding:0rem 0rem 0.5rem 1rem;
                font-size: 1.2rem;
                }

            }
        }
            
        .dos{
            padding: 0rem 1.5rem 0rem 1.5rem;
            height: 50vh;
  
            .cuidados{
                margin: 2.5rem 0rem 2.5rem 0rem; 
            }

            .lista-cuidados{
                .li-cuidados{
                text-align: justify;
                padding: 0rem 0rem 1rem 0.5rem;
                font-size: 1.2rem;
                }
            }

        }

    }
    

    .main-quienes-somos{
        height: 150vh;

        .quien-soy{
            height: 70vh;
            display: grid;
    
            .alpargata{
                display: block;

                img{
                justify-items: center;
                align-items: center;
                object-fit: cover;
                border-radius: 10px;   
                }
            }
            .texto-unoo{
                font-size: 1.3rem;
            }
        }
      
        .como-se-creo{

            height: 70vh;
            display: grid;

            .rosa{
                display: block;

                img{
                justify-items: center;
                align-items: center;
                object-fit: cover;
                border-radius: 10px;
                }
            }
            .texto-doss{
                font-size: 1.3rem;
            }
        }
    }



    .main-informacion{
        height: 70vh;

        .todo{
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 70vh;
        }
    }
}


//mq de desktop

@media screen and (min-width: 1024px){

    main{
        height: 80vh;

        .container{
            display: grid;
            grid-template-columns: 1fr 1fr;
           
            .texto-dos{
                display: block;
                flex-direction: column;
                
            }
            
        }
        .container-dos{
            display: grid;
            .mates{
                img{
                    height: 50vh;

                }
    
            }
        }    
    }

    
    .main-productos{
        height: 150vh;

        .sector-uno{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
        height: 50vh;
        

            .mate{
                display: grid;
            }
        }
        .sector-dos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
        height: 50vh;
        gap: 3rem;

            .sets{
                display: grid;
            }
        }
         .footer{
            height: 50vh;
         }
    
    }


    .main-cuidados{
        height: 70vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .dos{
            
            .lista-cuidados{
                .li-cuidados{
                    padding: 0rem 0rem 1rem 0.5rem;
                }
            }
        }                    
    }




    .main-quienes-somos{
        height: 90vh;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .main-informacion{
        height: 60vh;
        display: grid;
        justify-content: center;

        .todo{
            display: flex;

            .formulario{
                align-items: start;

                form{
                    display: flex;
                    flex-direction: column;

                    fieldset{
                        display: flex;
                        flex-direction: column;

                    }

                }

            }
        }

        .pago-datos{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            align-items: center;
            padding: 0rem 5rem 10rem 5rem;
            gap: 3rem;

        }
    }

    
    
  
 
    
    
}   