
//variables
//paleta de colores

$color-principal:rgb(224, 209, 213);
$color-secundario:rgb(185, 167, 167);
$font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;




